/* DESKTOP STØRRELSER */

body {
  margin: 0;
  background: rgb(77, 108, 100);
}

h1 {
  font-family: co-headline, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
}

h2 {
  font-family: co-headline, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: var(--secondary);
}

h3 {
  font-family: kanit, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 27px;
}

h4 {
  font-family: co-headline, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: var(--secondary);
}

.font-btn {
  font-family: kanit, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
}

.cardtitel {
  font-family: kanit, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
  color: var(--color-bread-text);
}

.filtertext {
  font-family: kanit, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.navigation {
  font-family: kanit, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
}

.bread,
label,
::placeholder,
input,
select,
li {
  font-family: kanit, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
}

.bread-bold {
  font-family: kanit, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  margin: 0;
}

.value-text {
  font-family: kanit, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 27px;
}

.guide-bold {
  font-family: kanit, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  margin: 0;
}

.accept {
  font-family: kanit, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin: 0;
}

.cardinstructor {
  font-family: kanit, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  color: var(--color-footer-background);
}

.cardtime {
  font-family: kanit, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

.footer {
  font-family: kanit, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.link {
  font-family: kanit, sans-serif;
  font-weight: 400;
  text-decoration: underline;
  font-size: 17px;
  color: var(--color-footer-text);
}

.stepbystep {
  font-family: co-headline, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: var(--color-footer-background);
}

a {
  color: var(--color-footer-text);
  text-decoration: none;
}
.spacebody {
  padding: 20px;
}

.spacesides {
  padding-left: 50px;
  padding-right: 50px;
}
.spacetopbottom {
  margin-top: 20px;
  margin-bottom: 2px;
}
.body-bg {
  background: rgb(77, 108, 100);
  background: linear-gradient(
    90deg,
    rgba(77, 108, 100, 1) 39%,
    rgba(143, 193, 185, 1) 100%
  );
}

ul {
  list-style-type: none;
}

li {
  color: var(--color-bread-text);
}
