:root {
  --color-teal-50: #d1e7e2;
  --color-teal-200: #9acdc5;
  --color-teal-100: #a7e1d8;
  --color-teal-300: #8bb9b1;
  --color-teal-400: #7faca7;
  --color-teal-500: #6f9d96;
  --color-neon-200: #85e08a;
  --color-green-200: #9bb26c;
  --color-green-400: #6c908c;
  --color-green-500: #405e5b;
  --color-sky-50: #f6fffe;
  --color-gray-50: #d9d9d9;
  --color-gray-400: #2e2e2e;
  --color-rose-400: #c36156;
  --color-rose-300: #e57975;
  --color-blue-200: #98d2e0;
  --color-violet-200: #b098c8;
  --color-pink-100: #fac2cd;
  --color-yellow-400: #e3e575;
  --color-orange-200: #d9ba97;
  --color-amber-500: #d97706;
  --color-black-800: #3d3d3d9a;
  --color-black-900: #3d3d3d;
  /* ------------------ Aliasser ------------------  */
  --primary: var(--color-green-500);
  --primary-hover: var(
    --color-teal-100
  );
  --secondary: var(--color-sky-50);
  --tertiary: var(--color-gray-400);
  --quaternary: var(--color-gray-50);

  /* infografik værdikasser */
  --value1: var(--color-teal-50);
  --value2: var(--color-teal-300);
  --value3: var(--color-green-400);

  /* STATUS FARVEKODER */
  --status-ledig: var(--color-neon-200);
  --status-limited: var(
    --color-yellow-400
  );
  --status-fyldt: var(--color-rose-300);
  /*---- HOLDFARVER -----*/

  --powerhold: var(--color-rose-400);

  --dansehold: var(--color-pink-100);

  --styrkekonditionhold: var(
    --color-amber-500
  );

  --seniorhold: var(--color-blue-200);

  --spinninghold: var(
    --color-green-200
  );

  --specialhold: var(
    --color-violet-200
  );

  --bodymindhold: var(
    --color-orange-200
  );

  /* stepbystep */

  --color-stepbystep-text: var(
    --color-teal-50
  );

  --color-aflysthold-text: var(
    --color-rose-300
  );

  --color-bread-dark: var(
    --color-green-500
  );

  /* Backgrounds */
  --holdtype-hover: var(
    --color-black-900
  );
  --holdtype-bg: var(--color-black-800);

  /* -------- ALIASSER SLUT ---------- */
}

/* ------- FONTE ---------- */

/* Step by step */
.stepbystep {
  font-family: kanit, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: var(--primary);
}

.stepbysteptext {
  font-family: kanit, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: var(--secondary);
}

.stepkob {
  font-family: kanit, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: var(--primary);
}

.stepkobtext {
  font-family: kanit, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: var(--secondary);
  margin: 0%;
}

button {
  font-family: kanit, sans-serif;
  font-weight: 400;
  color: var();
}

@media (min-width: 850px) {
  .stepbysteptext {
    font-size: 35px;
  }

  .stepbystep {
    font-size: 90px;
  }
}
