---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Atom_Center from "../components/Atom_Center.astro";
import OpenhoursCard from "../components/OpenhoursCard.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="stylesheet"
      href="https://use.typekit.net/lhr7bio.css"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <meta
      name="description"
      content="Vi står altid klar til at hjælpe. Du er altid velkommen til at sende en email eller ringe til os i centrene"
    />
    <title>Kontakt</title>
  </head>
  <body class="body-bg">
    <Header />
    <section>
      <div class="content_wrapper">
        <div>
          <h2>Kontakt</h2>
          <div class="kontakt">
            <Atom_Center
              centernavn="FormFysisk Amager"
              addresse="  Amager Strandvej 56 2300 københavn S"
              email="info@formamager.dk"
              telefon="3331 2220"
            />

            <Atom_Center
              centernavn="FormFysisk Vesterbro"
              addresse=" Vesterbrogade 95A 1620 København V"
              email="  info@formvesterbro.dk"
              telefon="3331 2220"
            />

            <Atom_Center
              centernavn="FormFysisk Østerbro"
              addresse="Østerbrogade 37 2100 København Ø"
              email="info@formoesterbro.dk"
              telefon="3331 2220"
            />
          </div>
        </div>

        <!-- Åbningstider -->
        <OpenhoursCard />
      </div>
    </section>
    <Footer />
  </body>
</html>
<style>
  body {
  }
  .kontakt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .content_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  section {
    margin-top: 10rem;
    margin-bottom: 5rem;
    overflow: hidden;
  }
  h2 {
    margin: 0;
    padding-bottom: 1.5rem;
  }
</style>
