---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import SinglepageSektion from "../components/SinglepageSektion.astro";
const {} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="stylesheet"
      href="https://use.typekit.net/lhr7bio.css"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="description"
      content="Læs om vores hold og hvad de hver især byder på. Måske du finder et som passer lige til dig."
    />
    <title>Holdtype kategori</title>
  </head>
  <body class="body-bg">
    <Header />
    <SinglepageSektion
      titel="Stram op"
      info1="Kalorieforbrænding: Mellem"
      info2="Alle kan være med"
      info3="Varighed 55 minutter"
      beskrivelse="Stram op er styrketræning for hele din krop, hvor du træner alle kroppens større muskelgrupper. Timen består af styrkeøvelser med mange gentagelser, således at du både træner din muskeludholdenhed og øger din forbrænding. Stram op er for alle, og sværhedsgraden kan nemt justeres, så det passer netop til dit niveau. I træningen vil indgå håndvægte, stepbænke, vægtstænger, balancebolde mm."
      knap={true}
      knaptekst="Book hold i center"
    />
    <Footer />
  </body>
</html>

<style></style>
