---
import Atom_Appcard from "./Atom_appcard.astro";
import "../styles/global.css";
import "../styles/styles.css";
---

<section class="appguide">
  <h2>
    Vejledning til tilmedling og
    venteliste i appen
  </h2>
  <div class="cards">
    <Atom_Appcard
      step="1"
      beskrivelse="Download Formfysik i din appstore og login eller opret en bruger, ved at trykke på ' Opret dig nu'"
      src="/img/log_in_app.webp"
    />
    <Atom_Appcard
      step="2"
      beskrivelse="Hvis det er førstegang du bruger appen, skal du oprette dig med samme Email som du brugte da du blev tilmeldt. Hvis du er i tvivl er du altid velkommen til at ringe til Telefon: 3331 2220 "
      src="/img/opret_bruger_app.webp"
    />
    <Atom_Appcard
      step="3"
      beskrivelse="Filtre mellem vores centre og holdtyper og vælg dem som du ønsker at deltage i"
      src="/img/app_booking.webp"
    />
    <Atom_Appcard
      step="4"
      beskrivelse="Når du har valgt det hold du ønsker at deltage i, skal du bekræfte din booking. Du kan altid se hvilke hold du har booket i bunden under 'Mine bookinger' "
      src="/img/book.webp"
    />
  </div>

  <h4>Vi glæder os til at se dig!</h4>
</section>

<style>
  h4 {
    color: var(--primary);
  }
  .appguide h2 {
    color: var(--primary);
  }
  .appguide {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--secondary);
    gap: 1rem;
    padding: 2rem;
  }
  .cards {
    display: grid;
    gap: 2rem;
  }
  h2 {
    color: var(--primary);
    margin-bottom: 2rem;
  }
  h3 {
    color: var(--primary);
    margin-bottom: 1rem;
  }
  p {
    color: var(--primary);
    margin: 0;
  }
  a {
    text-decoration: none;
  }

  @media (min-width: 850px) {
    .cards {
      display: flex;
    }
    .appguide {
      display: flex;
      flex-direction: column;
      place-items: center;
      background-color: var(
        --color-bread-text
      );
      gap: 1rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 10rem;
      padding-right: 10rem;
    }
  }
</style>
