---
import "../styles/global.css";

const { ugedag, ugedato } = Astro.props;
---

<div class="head">
  <p class="filtertext">
    {ugedag}
  </p>
  <p class="filtertext">
    {ugedato}
  </p>
</div>

<style>
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-bread-text);
  }
  p {
    margin: 0%;
  }
</style>
