---
import "../styles/styles.css";
const {
  styrkehold,
  powerhold,
  bodymindhold,
  spinninghold,
  dansehold,
  seniorhold,
  specialhold,
  alle,
} = Astro.props;
---

{
  alle == true && (
    <button class="">Alle</button>
  )
}
{
  styrkehold == true && (
    <button class="">
      <div class="styrkeholdfarve" />
      Styrke & Kondition
    </button>
  )
}

{
  powerhold == true && (
    <button class="">
      <div class="powerholdfarve" />
      Power
    </button>
  )
}

{
  bodymindhold == true && (
    <button class="">
      <div class="bodymindholdfarve" />
      Body & Mind
    </button>
  )
}

{
  spinninghold == true && (
    <button class="">
      <div class="spinningholdfarve" />
      Spinning
    </button>
  )
}

{
  dansehold == true && (
    <button class="">
      <div class="danseholdfarve" />
      Dansehold
    </button>
  )
}

{
  seniorhold == true && (
    <button class="">
      <div class="seniorholdfarve" />
      Seniorhold
    </button>
  )
}

{
  specialhold == true && (
    <button class="">
      <div class="specialholdfarve" />
      Specialhold
    </button>
  )
}

<style>
  button {
    background-color: var(
      --holdtype-bg
    );
    border: none;
    padding: 0.7rem;
    color: var(--secondary);
    display: flex;
    gap: 0.7rem;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
  }

  button:hover {
    background-color: var(
      --holdtype-hover
    );
  }

  /* -------------- Holdfarver ---------------- */
  .powerholdfarve {
    background-color: var(--powerhold);
    min-height: 1rem;
    min-width: 1rem;
    border-radius: 100%;
  }
  .styrkeholdfarve {
    background-color: var(
      --styrkekonditionhold
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
  .bodymindholdfarve {
    background-color: var(
      --bodymindhold
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
  .spinningholdfarve {
    background-color: var(
      --spinninghold
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
  .danseholdfarve {
    background-color: var(--dansehold);
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
  .seniorholdfarve {
    background-color: var(--seniorhold);
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }

  .specialholdfarve {
    background-color: var(
      --specialhold
    );
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
</style>
