---
import "../styles/global.css";
const {
  beskrivelse,
  ledig,
  liste,
  fyldt,
} = Astro.props;
---

<div class="wrapper">
  <div class="farve">
    {
      ledig == true && (
        <div class="ledig" />
      )
    }
    {
      liste == true && (
        <div class="liste" />
      )
    }
    {
      fyldt == true && (
        <div class="fyldt" />
      )
    }
  </div>

  <p class="cardtime">
    {beskrivelse}
  </p>
</div>

<style>
  @media (min-width: 850px) {
    .ledig {
      background-color: var(
        --status-ledig
      );
      width: 1rem;
    }

    .liste {
      background-color: var(
        --status-limited
      );
      width: 1rem;
    }

    .fyldt {
      background-color: var(
        --status-fyldt
      );
      width: 1rem;
    }
    .wrapper {
      display: none;
      gap: 1rem;
      place-items: end;
    }
  }
  .wrapper {
    gap: 0.5rem;
    display: flex;
  }
  .farve {
    height: 2.5rem;
    display: flex;
  }
  p {
    margin: 0;
    color: var(--secondary);
  }
</style>
