---
import "../styles/styles.css";
import Atom_Fysioterapeut from "./Atom_Fysioterapeut.astro";
---

<div class="slider-container">
  <div class="slider">
    <div class="slides">
      <div
        id="slides__1"
        class="slide first"
      >
        <Atom_Fysioterapeut
          navn="Anne Knudsen"
          stilling="Fysioterapeut, Cert. MDT"
          info="Behandling af nakke- og rygproblemer, og indenfor det øvrige bevægeapparat."
          tjek1="Uddannet fysioterapeut."
          tjek2="Efteruddannelse inden for Manuel Terapi og Cyriax."
          tjek3="Certificeret Mckenzie terapeut  og GLA:D-instruktør"
          src="/img/fys_1.webp"
        />
        <Atom_Fysioterapeut
          navn="Martin Juul"
          stilling="Fysioterapeut, PBa, Cert. MDT"
          info="Ryg- og nakkeproblematikker samt undersøgelse, behandling og genoptræning af skader opstået i forbindelse med træning og sport."
          tjek1="Uddannet fysioterapeut (PBa)."
          tjek2="Master i Exercise & Fitness (MEF) fra Syddansk Universitet."
          tjek3="Exam. idrætsfysioterapeut (A)"
          src="/img/fys_2.webp"
        />
        <a
          class="slide__next"
          href="#slides__2"
          title="Next"></a>
      </div>
      <div
        id="slides__2"
        class="slide second"
      >
        <Atom_Fysioterapeut
          navn="Jette Koch-Nielsen"
          stilling="Fysioterapeut, Cert. MDT"
          info="Behandling af muskuloskeletale problematikker i hele bevægeapparatet både ryg, nakke, skulder, hofte, knæ, ankel mv."
          tjek1="Uddannet fysioterapeut."
          tjek2="Efteruddannelse inden for Manuel Terapi og Cyriax."
          tjek3="Certificeret Mckenzie terapeut  og GLA:D-instruktør"
          src="/img/fys_3.webp"
        />
        <Atom_Fysioterapeut
          navn="Lars Dalkvist"
          stilling="Fysioterapeut, Cert. MDT"
          info="Nakke- og lændesmerter samt  skader inden for bevægapperartet bl.a. ankel, knæ og skulder."
          tjek1="Uddannet fysioterapeut."
          tjek2="Efteruddannelse inden for Manuel Terapi og Cyriax."
          tjek3="Certificeret Mckenzie terapeut  og GLA:D-instruktør"
          src="/img/fys_4.webp"
        />
        <a
          class="slide__prev"
          href="#slides__1"
          title="Prev"></a>
        <a
          class="slide__next"
          href="#slides__3"
          title="Next"></a>
      </div>
      <div
        id="slides__3"
        class="slide third"
      >
        <Atom_Fysioterapeut
          navn="Julie Littai"
          stilling="Fysioterapeut, Cert. MDT"
          info="Behandling af ryg og nakkesmerter samt idrætsskader, der er opstået i forbindelse med kastesport"
          tjek1="Uddannet fysioterapeut."
          tjek2="Efteruddannelse inden for Manuel Terapi og Cyriax."
          tjek3="Certificeret Mckenzie terapeut  og GLA:D-instruktør"
          src="/img/fys_5.webp"
        />
        <Atom_Fysioterapeut
          navn="Peter Damsgaard"
          stilling="Fysioterapeut, Cert. MDT"
          info="Alle bevægeapparatets problematikker. Særligt ryg og nakke samt neurologiske patienter"
          tjek1="Uddannet fysioterapeut."
          tjek2="Efteruddannelse inden for Manuel Terapi og Cyriax."
          tjek3="Certificeret Mckenzie terapeut  og GLA:D-instruktør"
          src="/img/fys_6.webp"
        />
        <a
          class="slide__prev"
          href="#slides__2"
          title="Prev"></a>
      </div>
    </div>
    <div class="slider__nav">
      <a
        class="slider__navlink"
        href="#slides__1"></a>
      <a
        class="slider__navlink"
        href="#slides__2"></a>
      <a
        class="slider__navlink"
        href="#slides__3"></a>
    </div>
  </div>
</div>

<style>
  .slider-container {
    display: flex;
    align-items: baseline;
    background-color: var(--primary);
    margin-top: 3rem;
  }

  .slider {
    width: 100%;
    padding: 5rem;
    border-radius: 20px;

    overflow: hidden;
    position: relative;
  }

  .slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  .slide {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    gap: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    scroll-snap-align: center;
    box-sizing: border-box;
    transform-origin: center center;
    transform: scale(1);
  }

  .slide__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
  }

  .slide a {
    background: none;
    border: none;
  }

  a.slide__prev,
  .slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
  }

  a.slide__next,
  .slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
  }

  .slider::before,
  .slider::after,
  .slide__prev,
  .slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid
      var(--color-bread-text);
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
  }

  .slider::before,
  .slider::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
  }

  .slider__nav {
    box-sizing: border-box;
    display: flex;
    place-content: center;
    margin-top: 1.5rem;
  }

  .slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--secondary);
    margin: 0 10px 0 10px;
  }

  .slider__navlink:hover {
    background-color: var(
      --primary-hover
    );
  }

  @media (max-width: 850px) {
    .slider-container {
      margin-top: 0rem;
    }

    .slider {
      padding: 0rem;
    }
    .slide {
      gap: 5rem;
    }
  }
</style>
