---
import "../styles/global.css";
import Primarybtn from "./Primarybtn.astro";
---

<header>
  <a class="logo" href="/">
    <img
      src="/img/logo.svg"
      alt="logo"
    />
  </a>

  <input
    type="checkbox"
    id="menu-bar"
  />
  <label
    class="navigation"
    for="menu-bar"
  >
    Menu</label
  >

  <nav class="navbar">
    <ul class="">
      <li class="navigation">
        <a href="/holdtype">FITNESS</a>
        <ul>
          <li>
            <a href="/holdbooking"
              >Holdbooking</a
            >
          </li>
          <li>
            <a href="/holdtype"
              >Holdtyper</a
            >
          </li>
          <li>
            <a href="/personligtraening"
              >Personlig Træning</a
            >
          </li>
          <li>
            <a href="/hjemmetraening"
              >Hjemmetræning</a
            >
          </li>
        </ul>
      </li>
      <li class="navigation">
        <a href="/">FYSIOTERAPI</a>
      </li>
      <li class="navigation">
        <a href="/omos">OM OS</a>
        <ul>
          <li>
            <a href="/omos"
              >Hvem er vi</a
            >
          </li>
          <li>
            <a href="/lokation"
              >Lokationer</a
            >
          </li>
          <li>
            <a href="/kontakt"
              >Kontakt</a
            >
          </li>
        </ul>
      </li>
      <li class="medlemburger">
        <Primarybtn
          content="BLIV MEDLEM"
        />
      </li>
    </ul>
  </nav>
  <div class="medlemdefault">
    <a href="/blivmedlem">
      <Primarybtn
        content="BLIV MEDLEM"
      />
    </a>
  </div>
</header>

<style>
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    text-decoration: none;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: -0;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background: rgb(77, 108, 100);
  }
  .logo {
    width: 13rem;
    height: fit-content;
  }

  header .navbar ul li {
    position: relative;
    float: left;
  }
  header .navbar ul li a {
    padding: 20px;
    display: block;
  }

  header .navbar ul li a:hover {
    text-decoration: underline;
    color: var(--color-btn-hover);
  }

  header .navbar ul li ul {
    position: absolute;
    width: 250px;
    left: 0;
    background-color: var(
      --color-tabel-holdcard
    );
    padding: 0;
    border-radius: 10px;
    display: none;
  }

  header .navbar ul li ul li {
    width: 100%;
    /* border-top: 1px solid #000; */
  }

  header .navbar ul li ul a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
  }

  header .navbar ul li:hover > ul {
    display: initial;
  }

  #menu-bar {
    display: none;
  }

  header label {
    cursor: pointer;
    display: none;
  }

  .medlemburger {
    display: none;
  }

  @media (max-width: 991px) {
    header {
      padding: 20px;
      background: rgb(77, 108, 100);
      margin-bottom: ;
    }

    header label {
      display: initial;
    }
    header .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      display: none;
      background: rgb(77, 108, 100);
      height: 100vh;
    }
    header .navbar ul li {
      width: 100%;
    }
    header .navbar ul {
      padding: 0;
    }

    header .navbar ul li ul {
      position: relative;
      width: 100%;
    }
    header .navbar ul li ul li {
      background-color: var(
        --color-tabel-holdcard
      );
      padding-left: 2rem;
    }
    header .navbar ul li ul li ul {
      width: 100%;
      left: 0;
    }

    #menu-bar:checked ~ .navbar {
      display: initial;
    }

    .medlemburger {
      display: initial;
      max-width: 20rem;
      padding-top: 5rem;
      padding-left: 2rem;
    }
    .medlemdefault {
      display: none;
    }
  }
</style>
