---
import "../styles/styles.css";

const { content } = Astro.props;
---

<button class="pribtn slide"
  ><p class="font-btn">{content}</p>
</button>

<style>
  .pribtn {
    background-color: var(--primary);
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 0.5em;
    padding: 9px 20px;
    transition: ease-out 0.5s;
  }
  p {
    margin: 0;
    color: var(--secondary);
  }

  .pribtn:hover {
    box-shadow: inset 300px 0 0 0
      var(--primary-hover);
    cursor: pointer;
  }

  p:hover {
    color: var(--primary);
  }
</style>
