---
import "../styles/global.css";

const { content } = Astro.props;
---

<button class="terbtn slide"
  ><p class="font-btn">{content}</p>
</button>

<style>
  .terbtn {
    background-color: var(--tertiary);
    outline: none;
    border: none;
    border-radius: 10px;
    transition: ease-out 0.5s;
  }
  p {
    padding: 13px 30px;
    margin: 0;
    color: var(--secondary);
  }

  .terbtn:hover {
    box-shadow: inset 300px 0 0 0
      var(--primary-hover);
    cursor: pointer;
  }

  p:hover {
    color: var(--primary);
  }
</style>
